*{
    margin: 0;
    padding: 0;
    border: 0;

}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2596be;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 400px;
    height: 100px;
    position: relative;
    background: #fff;
    overflow: hidden;
    padding: 28px 32px;
    border-radius: 20px;
    transition: 0.7s ease-out;
}

.search{
    padding-top: 30px;
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input{
    background: #fff;
    font-size: 24px;
    padding-left: 32px;
    transition: 0.4s ease;
    
}

.search input:focus{
    outline: 0;
}

.search button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    transition: 0.4s ease;
}

.search i{
    font-size: 25px;
    position: absolute;
}

.weather-box{
    text-align: center;
}

.weather-box .temperature{
    position: inherit;
    font-weight: 700;
    font-size: 3rem;
    color: #040f13;
    margin-top: 15px;
}

.weather-box .description{
    position: inherit;
    color: #040f13;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.weather-details .humidity, .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i{
    color: #040f13;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details span{
    color: #040f13;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p{
    color: #040f13;
    font-size: 14px;
    font-weight: 500;
}



.notfound{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    scale: 0;
    opacity: 0;
    display: none;
}

.notfound img{
    width: 70%;
    height: 50%;
}
.notfound p{
    margin-top: 8px;
    color: #040f13;
}

.weather-box, .weather-details{
    scale: 0;
    opacity: 0;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to{
        scale: 1;
        opacity: 1;
    }
}

.weather-box img{
    width: 50%;
    height:50%;
}